@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800;900&family=DM+Sans:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

/* Custom Scrollbar  */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #080812;
}
::-webkit-scrollbar-thumb {
    background: #00FFB2;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #00C9FF;
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #080812;
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden;
}

/* Selection color */
::selection {
    background: #00FFB240;
    color: #00FFB2;
}

/* Media Query */
@media (max-width: 768px) {

    /* Navbar */
    .desktop-nav {
        display: none !important;
    }
    .mobile-menu-btn {
        display: flex !important;
    }

    /* Hero */
    .hero-grid {
    grid-template-columns: 1fr !important;
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
    gap: 24px !important;
    }

    /* Shrink the whole avatar container */
    .hero-avatar {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 180px !important;
    height: 180px !important;
    margin-bottom: 0 !important;
    overflow: visible !important;
    }

    /* Shrink the photo circle */
    .hero-avatar > div:first-child {
    width: 180px !important;
    height: 180px !important;
    min-width: 180px !important;
    min-height: 180px !important;
    border-radius: 50% !important;
    }

    /* Shrink the actual image */
    .hero-avatar img {
    width: 180px !important;
    height: 180px !important;
    border-radius: 50% !important;
    }

    /* Hide rotating rings on mobile */
    .hero-avatar motion\.div,
    .hero-avatar > *:not(div:last-child) {
    display: none !important;
    }

    /* Hide badges */
    .badge {
    display: none !important;
    }

    .hero-rings {
        display: none !important;
    }

    /* Shrink name font on mobile */
    .hero-name {
    font-size: 2.4rem !important;
    }

    /* Fix bio text justify on mobile */
    .hero-bio {
    text-align: left !important;
    }
    

    /* About */
    .about-grid {
        grid-template-columns: 1fr !important;
        gap: 40px !important;
    }

    /* Contact */
    .contact-grid {
        grid-template-columns: 1fr !important;
        gap: 40px !important;
    }

    /* Footer */
    .footer-grid {
        grid-template-columns: 1fr !important;
        gap: 36px !important;
    }
    .footer-bottom {
        flex-direction: column !important;
        text-align: center !important;
        gap: 8px !important;
    }
}